*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: royalblue;    
    height: 100vh;
    width: 100%;
    display: flex;   
    justify-content: center;
    align-items: center;
    text-align: center;     
}
.hand{
    height: 50vh;
    width: 50%;
    background-color:hotpink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

    /* margin-top: 500px; */
.finger1
{
    height: 140px;
    width: 50px;
    background-color: #fff;
    margin-right: 4px;
    /* border-radius: 18px; */
    border-radius: 16px 16px 19px 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* justify-content:center; */

}
.finger2
{
    height: 170px;
    width: 50px;
    background-color: #fff;
    margin-right: 4px;
    border-radius: 16px 16px 19px 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.finger3
{
    height: 180px;
    width: 50px;
    background-color: #fff;
    margin-right: 4px;
    border-radius: 16px 16px 19px 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.finger4
{
    height: 160px;
    width: 50px;
    background-color: #fff;
    margin-right: 4px;
    border-radius: 16px 16px 19px 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.line1{
    height: 4px;
    width: 28px;
    background-color: hotpink;
    margin-top: 10px;
    
}
.line2{
    height: 4px;
    width: 28px;
    background-color: hotpink;
    margin-top: 7px;
    
}

.line{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.nails{
    height: 36px;
    width: 36px;
    margin-bottom: 8px;
    margin-left: 7px;
    background-color: hotpink;
    border-radius: 25px 25px 17px 17px;
}
.thumb{
    background-color: #fff;
    /* height: 80px;
    width: 50px; */
}
.upperpart{
    height: 30px;
    width: 55px;
    background-color:hotpink;
    border-radius: 0px 0px 0px 18px;

    /* display: none; */
}
.lowerpart{
    height: 50px;
    width: 55px;
    background-color:white;
    border-radius: 0px 17px 35px 0px;
}

.finger1{
    animation: f1  2s infinite ;
}
.finger2{
    animation: f1  2s infinite ;
}
.finger3{
    animation: f1  2s infinite ;
}
.finger4{
    animation: f1  2s infinite ;
}
.finger5{
    animation: th 1s infinite;
}
.line{
    animation: li 2s infinite ;
}
.nails{
    animation: ni 2s infinite ;

}
@keyframes f1{
    0%{
        transform: translateY(0rem);
    }
    100%{
        transform: translateY(-2rem);
    }
}
/* @keyframes th {
    0%
    {
        transform: translate(0rem);
    }
    100%{
        transform: translateZ();
    }
    
}
@keyframes li{
    0%{
        transform: translateY(0rem);
    }
    100%{
        transform: translateY(-1rem);
    }
}
@keyframes ni{
    0%{
        transform: translateY(0rem);
    }
    100%{
        transform: translateY(-1rem);
    }
}

 */





































































    
}